# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple

In [1]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [2]:
tup = 3, 4, 5
tup

(3, 4, 5)

In [4]:
tup = tuple([6, 7, 8])
tup

(6, 7, 8)

In [3]:
print(type(tup))

<class 'tuple'>

```java

public class Address {
    public String street;
    public String city;
    public int zip_code;
}

public Address get_address() {
    Address addr = new Address();
    addr.street = "123 main";
    addr.city = "Pittsburgh";
    addr.zip_code = 15216;
    return addr;
}
```

In [14]:
def get_address():
    street = "122 Main"
    city = "Pittsburgh"
    zip_code = 15216
    return street, city, zip_code

x = get_address()
print(type(x), x)

x, y, z = get_address()
print(type(x), x, y, z)

<class 'tuple'> ('122 Main', 'Pittsburgh', 15216)
<class 'str'> 122 Main Pittsburgh 15216

In [5]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [9]:
print(nested_tup[0][2])

6

In [15]:
x = [4, 0, 2]
print(type(x))

for i in x:
    print(i)

<class 'list'>
4
0
2

In [10]:
x = 'brian'
for i in x:
    print(i)

b
r
i
a
n

In [23]:
tup = tuple([[4, 0, 2]])
tup

([4, 0, 2],)

In [17]:
tup = tuple('brian')
tup

('b', 'r', 'i', 'a', 'n')

In [22]:
tup = tuple(['brian', 'mike'])
tup

('brian', 'mike')

In [20]:
tup[4]

'n'

In [25]:
tup = tuple(['foo', [1, 2], True])
print(tup[0])
print(tup[1])
print(tup[2])
tup[2] = False

foo
[1, 2]
True

TypeError: 'tuple' object does not support item assignment

In [26]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [30]:
print(tup[0])
tup[0] = tup[0] + 'a'
tup[0] += 'a' # shorthand for line 2

foo

TypeError: 'tuple' object does not support item assignment

In [31]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [32]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [33]:
def get_data():
    return 1, 2, 3

x, y, z = get_data()
print(x, y, z)

x = get_data()
print(x, x[0], x[1], x[2])

1 2 3
(1, 2, 3) 1 2 3

In [29]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [37]:
tup = 4, 5, (6, 7)
print(tup[0])
print(tup[1])
print(tup[2])

a, b, (c, d) = tup
print(a, b, c, d)

x, y, z = tup
print(x, y, z)

a, b, x = tup
# c, d = x
c = x[0]
d = x[1]
print(a, b, c, d)

4
5
(6, 7)
4 5 6 7
4 5 (6, 7)
4 5 6 7

tmp = a
a = b
b = tmp

In [38]:
patient_a_name = 'brian'
patient_b_name = 'steve'

temp = patient_a_name
patient_a_name = patient_b_name
patient_b_name = temp
print(patient_a_name, patient_b_name)

steve brian

In [40]:
r = 255
g = 128
b = 64


r, g, b = b, g, r

In [39]:
x = patient_a_name, patient_b_name
print(x)
patient_a_name, patient_b_name = patient_b_name, patient_a_name
print(patient_a_name, patient_b_name)

('steve', 'brian')
brian steve

In [40]:
a, b = 1, 2
print(a)
print(b)
b, a = a, b
print(a)
print(b)

1
2
2
1

In [42]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for t in seq:
    a = t[0]
    b = t[1]
    c = t[2]
    print(type(t))
    print('a={0}, b={1}, c={2}'.format(a, b, c))

<class 'tuple'>
a=1, b=2, c=3
<class 'tuple'>
a=4, b=5, c=6
<class 'tuple'>
a=7, b=8, c=9

In [44]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a= 1, b=2, c=3
a= 4, b=5, c=6
a= 7, b=8, c=9

In [45]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a, b)
print(rest)

1 2
[3, 4, 5]

In [46]:
a, b, *_ = values
print(a, b, _)

1 2 [3, 4, 5]

#### Tuple methods

In [48]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(3)

1

### List

In [50]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [60]:
gen = range(10)
print(type(gen), gen)
list(gen)

<class 'range'> range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [49]:
b_list.append('dwarf')
b_list

NameError: name 'b_list' is not defined

In [51]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz']

In [63]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [64]:
b_list.append('foo')
b_list
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [56]:
def my_in(search_term, l):
    found = False
    for item in b_list:
        if item == search_term:
            found = True
    return found
found = my_in('dwarf', b_list)
print(found)

False

In [53]:
'dwarf' in b_list

False

In [54]:
not ('dwarf' in b_list)
'dwarf' not in b_list

True

#### Concatenating and combining lists

In [58]:
import timeit

In [63]:
a = [4, None, 'foo']
b = [7, 8, (2, 3)]
new_list = a + b
print(a, b, new_list)

x = [4, None, 'foo']
print(x)
x.extend([7, 8, (2, 3)])
print(x)

[4, None, 'foo'] [7, 8, (2, 3)] [4, None, 'foo', 7, 8, (2, 3)]
[4, None, 'foo']
[4, None, 'foo', 7, 8, (2, 3)]

In [64]:
%timeit new_list = [4, None, 'foo'] + [7, 8, (2, 3)]

115 ns ± 1.73 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [65]:
x = [4, None, 'foo']
%timeit x.extend([7, 8, (2, 3)])

119 ns ± 3.67 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [68]:
a = [1, 2, 3]
b = [4, 5, 6]

a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

everything = []
for chunk in list_of_lists:
    everything = everything + chunk

#### Sorting

In [70]:
a = [7, 2, 5, 1, 3]
print(a)
a.sort()
print(a)

[7, 2, 5, 1, 3]
[1, 2, 3, 5, 7]

In [73]:
b = ['saw', 'small', 'He', 'foxes', 'six']
for s in b:
    print(len(s), s)

3 saw
5 small
2 He
5 foxes
3 six

In [76]:
b = ['saw', 'small', 'He', 'foxes', 'six']
print(b)
# b.sort(key=lambda x: len(x), reverse=True)
b.sort(key=len, reverse=True)
print(b)

['saw', 'small', 'He', 'foxes', 'six']
['small', 'foxes', 'saw', 'six', 'He']

#### Binary search and maintaining a sorted list

In [88]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
print(bisect.bisect(c, 2))
print(bisect.bisect(c, 5))
print(bisect.insort(c, 6))
c

4
6
None

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [80]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
print(seq[0])
print(seq[1])
print(seq[2])
seq[0:3]

7
2
3

[7, 2, 3]

In [83]:
print(seq[3], seq[4])
print(seq[3:5])
seq[3:4] = [6, 3]
seq

6 3
[6, 3]

[7, 2, 3, 6, 3, 3, 3, 5, 6, 0, 1]

In [85]:
print(seq[:5])
print(seq[0:5])
print(seq[3:])
print(seq[3:11])
print(seq[:])

[7, 2, 3, 6, 3]
[7, 2, 3, 6, 3]
[6, 3, 3, 3, 5, 6, 0, 1]
[6, 3, 3, 3, 5, 6, 0, 1]
[7, 2, 3, 6, 3, 3, 3, 5, 6, 0, 1]

In [87]:
seq[-4:]
seq[-6:-2]

[3, 3, 5, 6]

In [90]:
print(seq[::1])
print(seq[::2])
print(seq[1::2])

[7, 2, 3, 6, 3, 3, 3, 5, 6, 0, 1]
[7, 3, 3, 3, 6, 1]
[2, 6, 3, 5, 0]

In [91]:
seq[::-1]

[1, 0, 6, 5, 3, 3, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

#### enumerate

i = 0
for value in collection:
   # do something with value
   i += 1

for i, value in enumerate(collection):
   # do something with value

In [106]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
i = 0
for v in some_list:
    print(i, v)
    mapping[v] = i
    i += 1
mapping

0 foo
1 bar
2 baz

{'bar': 1, 'baz': 2, 'foo': 0}

In [107]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    print(i, v)
    mapping[v] = i
mapping

0 foo
1 bar
2 baz

{'bar': 1, 'baz': 2, 'foo': 0}

#### sorted

In [109]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
print(sorted('horse race'))

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [110]:
event = 'hoRse race'
sorted_event = sorted(event)
print(sorted_event)

[' ', 'R', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 's']

#### zip

In [112]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three', 'four']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [113]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [114]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [122]:
pitchers = [('Nolan', 'Ryan'), 
            ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
print(first_names)
print(last_names)

[('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
('Nolan', 'Ryan') ('Roger', 'Clemens') ('Schilling', 'Curt')

SyntaxError: invalid syntax (<ipython-input-131-233dd8c5945a>, line 1)

#### reversed

In [ ]:
list(reversed(range(10)))

### dict

In [ ]:
# empty_dict = dict()
# empty_dict = {}

In [142]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [138]:
d1[7] = 'an integer'
print(d1)
d1['b']
print(d1)
del d1[7]
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
{'a': 'some value', 'b': [1, 2, 3, 4]}

In [143]:
'b' in d1

True

In [ ]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1
del d1[5]
d1
ret = d1.pop('dummy')
ret
d1

In [144]:
print(list(d1.keys()))
print(list(d1.values()))

['a', 'b']
['some value', [1, 2, 3, 4]]

In [145]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 'c': 12}

#### Creating dicts from sequences

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [152]:
seq1 = range(5)
seq2 = reversed(range(5))
zipped = zip(seq1, seq2)
mapping = dict(zipped)
mapping
print(mapping.keys())
print(mapping.values())
print(mapping)

dict_keys([0, 1, 2, 3, 4])
dict_values([4, 3, 2, 1, 0])
{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}


#### Default values

if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

value = some_dict.get(key, default_value)

In [ ]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

#### Valid dict key types

In [ ]:
hash('string')
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
d

### set

In [ ]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)
a | b

In [ ]:
a.intersection(b)
a & b

In [ ]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

In [ ]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

In [ ]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

In [ ]:
{1, 2, 3} == {3, 2, 1}

### List, Set, and Dict Comprehensions

[

result = []
for val in collection:
    if

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

dict_comp = {

set_comp = {

In [ ]:
unique_lengths = {len(x) for x in strings}
unique_lengths

In [ ]:
set(map(len, strings))

In [ ]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

#### Nested list comprehensions

In [ ]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [ ]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [ ]:
[[x for x in tup] for tup in some_tuples]

## Functions

def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

### Namespaces, Scope, and Local Functions

def func():
    a = []
    for i in range(5):
        a.append(i)

a = []
def func():
    for i in range(5):
        a.append(i)

In [ ]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

### Returning Multiple Values

def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

return_value = f()

def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### Functions Are Objects

In [ ]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [ ]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [ ]:
clean_strings(states)

In [ ]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [ ]:
clean_strings(states, clean_ops)

In [ ]:
for x in map(remove_punctuation, states):
    print(x)

### Anonymous (Lambda) Functions

def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

In [ ]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [ ]:
strings.sort(key=lambda x: len(set(list(x))))
strings

### Currying: Partial Argument Application

def add_numbers(x, y):
    return x + y

add_five = lambda y: add_numbers(5, y)

from functools import partial
add_five = partial(add_numbers, 5)

### Generators

In [ ]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator

In [ ]:
list(dict_iterator)

In [ ]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [ ]:
gen = squares()
gen

In [ ]:
for x in gen:
    print(x, end=' ')

#### Generator expresssions

In [ ]:
gen = (x ** 2 for x in range(100))
gen

def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [ ]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

#### itertools module

In [ ]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

### Errors and Exception Handling

In [ ]:
float('1.2345')
float('something')

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
attempt_float('1.2345')
attempt_float('something')

In [ ]:
float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

#### Exceptions in IPython

In [10]: %run examples/ipython_bug.py
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
/home/wesm/code/pydata-book/examples/ipython_bug.py in <module>()
     13     throws_an_exception()
     14
---> 15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in calling_things()
     11 def calling_things():
     12     works_fine()
---> 13     throws_an_exception()
     14
     15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in throws_an_exception()
      7     a = 5
      8     b = 6
----> 9     assert(a + b == 10)
     10
     11 def calling_things():

AssertionError:

## Files and the Operating System

In [ ]:
%pushd book-materials

In [ ]:
path = 'examples/segismundo.txt'
f = open(path)

for line in f:
    pass

In [ ]:
lines = [x.rstrip() for x in open(path)]
lines

In [ ]:
f.close()

In [ ]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [ ]:
f = open(path)
f.read(10)
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

In [ ]:
f.tell()
f2.tell()

In [ ]:
import sys
sys.getdefaultencoding()

In [ ]:
f.seek(3)
f.read(1)

In [ ]:
f.close()
f2.close()

In [ ]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

In [ ]:
import os
os.remove('tmp.txt')

### Bytes and Unicode with Files

In [ ]:
with open(path) as f:
    chars = f.read(10)
chars

In [ ]:
with open(path, 'rb') as f:
    data = f.read(10)
data

In [ ]:
data.decode('utf8')
data[:4].decode('utf8')

In [ ]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

In [ ]:
os.remove(sink_path)

In [ ]:
f = open(path)
f.read(5)
f.seek(4)
f.read(1)
f.close()

In [ ]:
%popd

## Conclusion